<a href="https://colab.research.google.com/github/f04447733-stack/ICT_assignments/blob/main/Assignment3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
def max(a,b,c):
  if a>b and a>c:
    return a
  elif b>a and b>c:
    return b
  else:
    return c
print(max(20,35,19))

35

In [1]:
list=[18,12,30,10,7]
sum(list)

77

In [3]:
list=[10,20,30,50]
list.insert(3,40)
list

[10, 20, 30, 40, 50]

In [6]:
sample_dict={"name":"kelly","age":25,"salary":8000,"city":"New york"}
sample_dict['location']=sample_dict.pop('city')
print(sample_dict)

{'name': 'kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

In [11]:
sample_dict={'emp1':{'name':'jhon','salary':7500},'emp2':{'name':'emma','salary':8000},'emp3':{'name':'brad','salary':500}}
sample_dict['emp3']['salary']=8500

In [12]:
print(sample_dict)

{'emp1': {'name': 'jhon', 'salary': 7500}, 'emp2': {'name': 'emma', 'salary': 8000}, 'emp3': {'name': 'brad', 'salary': 8500}}

In [13]:
tuple1=(11,22,33,44,55,66)
x=tuple(tuple1[3:5])
print(x)

(44, 55)

In [21]:
tuple1=(50,10,60,70,50,83,567,50,81)
print(tuple1.count(50))

3