<a href="https://colab.research.google.com/github/f04447733-stack/ICT_assignments/blob/main/assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = int(input("Enter price of item1:"))
b = int(input("Enter quantity of item1:"))
r = int(input("Enter price of item2:"))
s = int(input("Enter qauntity of item2:"))
amt = a*b
tma = r*s
sum = amt+tma
print("Total bill amount:",sum)

Enter price of item1:45
Enter quantity of item1:3
Enter price of item2:30
Enter qauntity of item2:2
Total bill amount: 195

In [ ]:
celsius = int(input("Enter temperature in celsius:"))
fahrenheit = (c*9/5)+32
print("Temperature in fahrenheit:",fahrenheit)

Enter temperature in celsius:30
Temperature in fahrenheit: 86.0

In [ ]:
b = int(input("Enter basic salary:"))
HRA = 0.20
DA = 0.10
total_salary = b + HRA + DA
print("Net salary:", total_salary)

Enter basic salary:20000
Net salary: 20000.3

In [ ]:
p = int(input("Enter principle amount:"))
r = int(input("Enter rate of interest:"))
t = int(input("Enter time:"))
SI = p*r*t/100
print("Simple interest:", SI)

Enter principle amount:10000
Enter rate of interest:5
Enter time:2
Simple interest: 1000.0

In [ ]:
t = int(input("Enter time in seconds:"))
hours = t//3600
minutes = (t%3600)//60
seconds = (t%3600)%60
print("Hours:", hours)
print("Minutes:", minutes)
print("Seconds:", seconds)

Enter time in seconds:130
Hours: 0
Minutes: 2
Seconds: 10

In [ ]:
weight = int(input("Enter weight in kg:"))
height = float(input("Enter height in meters:"))
BMI = weight/(height)**2
print("BMI:", BMI)

Enter weight in kg:60
Enter height in meters:1.65
BMI: 22.03856749311295

In [ ]:
o = int(input("enter original price:"))
s = 0.10*o
n = o-s
print(" Discount price:", n)

enter original price:1200
 Discount price: 1080.0

In [ ]:
a = int(input("Enter side A of triangle:"))
b = int(input("Enter side B of triangle:"))
c = int(input("Enter side C of triangle:"))
s = (a+b+c)/2
area = (s*(s-a)*(s-b)*(s-c))**0.5
print("Area of triangle:", area)

Enter side A of triangle:5
Enter side B of triangle:6
Enter side C of triangle:7
Area of triangle: 14.696938456699069

In [59]:
w = int(input("Enter wall length:"))
h = int(input("Enter wall height:"))
a = 1.5*1.2
p = w*h
pa = p-w
cost = pa*25
print("Area of wall:", pa)
print("Total painting cost:",cost)

Enter wall length:12
Enter wall height:8
Area of wall: 84
Total painting cost: 2100

In [58]:
a = int(input("Enter number of units consumed"))
unit =250
bill = (unit*5.2)+100
print("Electricity bill:",bill)

Enter number of units consumed250
Electricity bill: 1400.0